/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // small devices (portrait phones, 575px and down) 
@media (max-width: 575px) {
    
}*/

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* slider section  */
    .slider-caption {
        padding: 0 10%;
    }

    .slider-caption>h3 {
        font-size: 2rem;
    }

    .slider-caption>p {
        font-size: 0.8rem;
        display: block;
    }

    .gstarted-btn {
        font-size: 1rem;
    }

    .course-card {
        flex-direction: row;
    }

    /* course section  */
    .course-card .card-img {
        width: 25%;
    }

    .course-body .course-title {
        font-size: 1.2rem;
    }

    .course-body .course-text {
        font-size: .8rem;
    }

    .course-body span {
        font-size: .9rem;
    }

    /* about institute section  */
    .about-inner {
        flex-direction: row;
    }

    .about-inner img {
        width: 50%;
    }

    .about-inner .about-body {
        width: 50%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .slider-caption {
        padding: 0 15%;
        top: 20%;
    }

    .slider-caption>h3 {
        font-size: 3.35rem;
    }

    .slider-caption>p {
        font-size: 1rem;
    }

    .gstarted-btn {
        font-size: 1.5rem;
    }

    .item-area>h1 {
        font-size: 2.5rem;
    }

    .item-area>p {
        font-size: 1.5rem;
    }

    /* course section  */
    .courses .course-inner {
        width: 49%;
    }

    .course-card .card-img {
        width: 50%;
    }

    .item-invisible {
        display: block;
    }

    .view-all-btn {
        display: none;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}