/* header area style  */
.bg-color {
    background: rgba(29, 29, 29, 0.7);
    border-radius: 5px;
}

.slider-caption {
    width: 100%;
    position: absolute;
    top: 15%;
    left: 0;
    text-align: center;
    padding: 0 5%;
}

.slider-caption>h3 {
    font-size: 1rem;
}

.slider-caption>p {
    font-size: 0.6rem;
    display: none;
}

.gstarted-btn {
    font-size: 0.8rem;
}



.slider-caption>button {
    font-size: 0.75rem;
}

.register-btn {
    color: #289BDE;
    background-color: #fff;
    border: #289BDE solid 1px;
    border-radius: 5px;
}

.register-btn:hover {
    color: #fff;
    background-color: #289BDE;
}

/* course area style  */
.item-area>h1 {
    font-size: 1rem;
}

.item-area>p {
    font-size: 0.8rem;
}

.course-card {
    flex-direction: column;
}

.course-body .course-title {
    font-size: .8rem;
}

.course-body .course-text {
    font-size: .7rem;
}

.course-body span {
    font-size: .9rem;
}

.item-invisible {
    display: none;
}

.view-all-btn {
    display: block;
}

/* about institute section */
.about {
    background-color: #F4FAFD;
}

.about-inner {
    flex-direction: column;
}

.info {
    padding: 0 0;
}