/* header area style  */
.bg-color {
    background: rgba(29, 29, 29, 0.7);
    border-radius: 5px;
}

.slider-caption {
    width: 100%;
    position: absolute;
    top: 15%;
    left: 0;
    text-align: center;
    padding: 0 5%;
}

.slider-caption>p {
    font-size: 0.6rem;
    display: none;
}

.slider-caption>button {
    font-size: 0.75rem;
}

.register-btn {
    color: #289BDE;
    background-color: #fff;
    border: #289BDE solid 1px;
    border-radius: 5px;
}

.register-btn:hover {
    color: #fff;
    background-color: #289BDE;
}

/* course area style  */
.item-invisible {
    display: none;
}

.view-all-btn {
    display: block;
}

.about {
    background-color: #F4FAFD;
}

.info {
    padding: 0 0;
}

/* about institute section */